@charset "utf-8";
.header-logo img {
    width: 40px;
    height: auto;
    margin-left: 20px; /* 画像の左側にスペースを追加 */
}

.toggle-menu-button {
    display: none;
}

body {
    font-family: "Noto Serif JP", serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #888888;
    display: flex;
    justify-content: space-between; /* ヘッダーのアイテムを両端に配置 */
    align-items: center;
    padding: 20px 0px;
}

.header-inner {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between; /* 内部のアイテムを両端に配置 */
}

.title-text {
    color: rgb(255, 255, 255);
    left: 8%;
}

.header-site-menu {
    display: flex;
    align-items: center; /* 上部揃えから中央揃えに変更 */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 20px;
}

footer {
    background-color: #888888;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
}

.site-menu {
    color: rgb(255, 255, 255);
}

@media (max-width: 850px) {
    nav ul li {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .site-menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        padding: 0;
        margin: 0;
        background-color: #888888;
        width: 100%;
    }

    .site-menu li {
        flex: 1 1 calc(25% - 20px);
        margin: 10px;
        box-sizing: border-box;
        align-items: center;
        color: #FFFFFF;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #888888;
        height: 50px;
        z-index: 10;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    }

    .header-inner {
        padding-right: 20px;
        height: 100%;
        position: relative;
        justify-content: space-between;
    }

    .header-logo img {
        max-width: 65px;
        height: auto;
        margin-left: 30px;
    }

    .header-site-menu {
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        width: 100%;
        color: #FFFFFF;
        background-color: #888888;
        padding: 0;
        margin: 0;
        display: none;
        z-index: 1;
        align-items: center;
    }

    .toggle-menu-button {
        z-index: 2;
        display: block;
        width: 44px;
        height: 44px;
        background-image: url(../images/common/bar.png);
        background-size: 60%;
        background-position: center;
        background-repeat: no-repeat;
        background-color: transparent;
        border: none;
        border-radius: 0;
        outline: none;
        margin-left: auto;
    }

    .header-site-menu.is-show {
        display: block;
    }

    .header-site-menu a {
        color: #FFFFFF;
    }

    .footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .footer .site-menu {
        margin-bottom: 50px;
    }

    .footer .site-menu a {
        color: #FFFFFF; /* フッターのサイトメニューの文字色を白に変更 */
    }
}
