@charset "utf-8";
h1 {
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 2em;
}
.container {
    width: 80%;
    margin: auto;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
  }

.image-container img {
    width: 80%;
    height: auto;
    margin-left: 20px;
}

.feature-text {
    margin-bottom: 20px;
}
.countries{
    display: flex;
}
.info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
  }
  
  .info-header {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .countries {
    list-style-type: disc;
    white-space: nowrap;
    overflow: hidden;        /* はみ出した部分を隠す */
    text-overflow: ellipsis; 
  }
  
  .map-section {
    margin-top: 20px;
    margin-left: 250px;
  }
  
  .map-embed {
    width: 500px;
    height: 200px;
    border: 0;
  }