@charset "utf-8";
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f4f4f4;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}
p {
    line-height: 1.6;
}
.image-container {
    text-align: center;
}
.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}