@charset "utf-8";
h1 {
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 2em;
}
.container {
    width: 80%;
    margin: auto;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
  }

.image-container img {
    width: 400px;
    height: 400px;
    margin-left: 20px;
}

.feature-text {
    margin-bottom: 20px;
}

.info-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin: 0px 100px;
  }
  
  .info-header {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .countries {
    display: flex;
    list-style-type: disc;
    white-space: nowrap;
    overflow: hidden;        
    text-overflow: ellipsis; 
  }
  
  .countries-name {
    margin-right: 20px; /* ここで希望する間隔に調整 */
}

.map-section {
    margin-left: 200px; /* 必要に応じて調整 */
    margin-top: 20px;
}

  
  .map-embed {
    width: 640px;
    height: 360px;
    border: 0;
  }

  /* 縦長の画面（スマートフォンやタブレット）向けのスタイル */
@media screen and (max-width: 768px) {
  .info-header {
    margin-left: 0px;
  }
  .container{
    margin-top: 100px;
  }
  .main-content {
      display: block;
  }

  .info-section {
    display: block;
    margin-left: 0px;
  }

  .image-container img {
      display: block;
      margin: 0 auto;
      width: 250px;
      height: 250px;
  }

  .info-header {
      font-size: 1.0em; /* .feature-textのフォントサイズに統一 */
  }

  .countries {
      display: block;
  }

  .map-embed {
      width: 250px;
      height: 250px;
      display: block;
      margin: 0 ;
  }
}
